body {
    margin: 0%;
    font-family: 'MedievalSharp';
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(wallpapersden.com_bloodborne-game_3840x2381.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -100;
}

a {
    color: white;
    text-decoration: none;
}

/*začátek navbaru*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(#451313, #1d2127);
}

.menuicon {
    display: none;
    width: 40%;
    height: 100%;
    font-size: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-image: linear-gradient(#451313, #1d2127);
    color: white;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    width: 60%;
    height: 100%;
}

li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    width: 10%;
    height: 100%;
}

ul {
    float: left;
    list-style-type: none;
    width: 60%;
    height: 100%;
}


.item {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-image: linear-gradient(#451313, #1d2127);
    font-family: 'MedievalSharp';
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: font-size .2s;
    float: left;
}

.itemlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 100%;
    font-size: 25px;
    padding-left: 80px;
    border: none;
    color: white;
    background-image: linear-gradient(#451313, #1d2127);
    font-family: 'MedievalSharp';
    cursor: pointer;
    transition: font-size .2s;
}

.dropbtn {
    color: white;
    background-image: linear-gradient(#451313, #1d2127);
    padding: 16px;
    font-size: 40px;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
    justify-content: flex-start;
    width: 10%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(#451313, #1d2127);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: red;
}

.show {
    display: block;
}

#masthead {
    font-size: 35px;
    width: 30%;
    padding-left: 50px;
    justify-content: flex-start;
}

.item:hover {
    text-decoration: underline;
    font-size: 20px;
}

.itemlogin:hover {
    text-decoration: underline;
    font-size: 30px;
}

/*konec navbaru*/
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.griditem,
.picture,
.name, .infoitem, .searche{
    display: flex;
    justify-content: center;
    align-items: center;
}

.griditem {
    flex-direction: column;
    border: solid 4px #400303;
    background-image: linear-gradient(#451313, #1d2127);
    border-radius: 20px;
    height: 850px;
    width: 90%;

    transition:0.5s transform ;
}

.picture {
    border: 8px solid black;
    border-radius: 10px;
}
img{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

.name {
    font-size: 35px;
    width: 100%;
    height: 15%;
}

.lore, .infocontainer{
    border-radius: 20px;
    background-color: black;
    border: solid 10px black;
    height: 55%;
    width: 90%;
    margin-bottom: 1%;
}

.infocontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.lore{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.loretitle{
    font-size: 40px;
}

.loretext{
    font-size: 20px;
}

.infoitem {
    border: solid 2px #400303;
    height: auto;
    width: auto;
    
}

.searche{
    border: solid 2px #400303;
    height: auto;
    width: auto;
    cursor: pointer;
}

.griditem:hover {
    transform: scale(1.1);
    background-image: linear-gradient(#1d2127, #451313);
}

.footcontainer {
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
    background-color: black;
}

.footitem {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: rgb(105, 104, 104);
}
h1 {
    color: #560e07;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 5px;
}
.itemsocialmedia {
    background-color: black;
    color: white;
    font-size: 40px;
    height: 60px;
    width: 60px;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
    background-color: black;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 59, 59);
}

/*konec scrollbaru*/
@media(max-height: 1200px){
    .navbar{
        height: 10vh;
    }
    .container{
        height: 420vh;
    }
}
@media(max-height:600px)
{
    .navbar{
        height: 18vh;
    }
}
@media(max-height:450px){
    .navbar{
        height: 30vh;
    }
    .container{
        height: 750vh;
    }
}
@media(max-height:300px){
    .navbar{
        height: 40vh;
    }
    .container{
        height: 900vh;
    }
}
@media(max-width:1600px){
    body{
        margin: 0%;
    }
    .gridcontainer{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 1400px) {
    .list {
        width: 70%;
    }

    li {
        width: 15%;
    }

    .item {
        width: 100%;
    }

    .itemlogin {
        justify-content: center;
        padding-right: 100px;
    }

    .item {
        width: 13%;
        border: none;
        font-size: 25px;
    }

    .footcontainer {
        height: 20vh;
    }

    #masthead {
        width: 15%;
    }

}

@media(max-width: 1200px) {

    #masthead {
        width: 20%;
        padding: 0px;
    }

    li {
        width: 20%;
    }

}

@media(max-width: 900px) {
    .dropdown{
        display: inline-block;
        position: relative;
    }
    .list{
        display: none;
    }
    .itemlogin{
        display: none;
    }
    #masthead {
        width: 30%;
        display: flex;
    }
}

@media(max-width: 650px) {
    #masthead {
        width: 40%;
    }
    .gridcontainer{
        grid-template-columns: 1fr ;
    }
}

@media(max-width: 450px) {
    #masthead {
        width: 70%;
    }
    .dropdown{
        width: 30%;
    }
}